services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php_apache_symfony
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
    networks:
      - symfony-net

  db:
    image: mysql:8.0
    container_name: mysql_symfony
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - symfony-net

volumes:
  db_data:

networks:
  symfony-net:
    driver: bridge
